* {
  font-family: "Lato", sans-serif;
}

.table {
  thead {
    border-bottom: 0.5px solid rgb(56, 56, 56);
    tr {
      height: 50px;
      color: rgb(88, 88, 88);
    }
  }
  tbody {
    tr {
      height: 50px;
      &:hover {
        background-color: #f3f9f9;
      }

      td {
        text-align: center;
      }
    }
  }
}

.dropdown {
  display: none;
}

.ticker-search {
  width: 20rem;
  background: #f2f1f9;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
}

.ticker-search:focus + .dropdown {
  display: block;
}



.performance {
  thead {
    border-bottom: 0.5px solid rgb(56, 56, 56);
    tr {
      height: 50px;
      color: rgb(88, 88, 88);
    }
  }
  tbody {
    tr {
      height: 50px;
      background-color: #f3f9f9;

      td {
        text-align: center;
      }
    }
  }
}

.inner-table {
  color: rgb(95, 95, 95);
  background-color: white;
  thead {
    tr {
      background-color: white;
    }
  }
  tbody{
    tr {
      background-color: white;
    }
  }
}