$border: rgb(124, 124, 124);

* {
  margin: 0;
  padding: 0;
}
.app {
  margin: auto;
  width: 80%;
}
nav {
  padding: 1rem 1rem;
  border: 1px solid black;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    color: white;
  }
}

.main {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.graph {
  // min-height: 80vh;
  // padding: 2rem 2rem;
  border: 1px solid $border;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  h2 {
    margin-left: 2rem;
  }
}

.actions {
  min-height: 100vh;
}

.buttons {
  border: 1px solid $border;
  border-radius: 10px;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10%;
  button {
    margin: 2rem 1rem;
    min-height: 10vh;
    font-size: 2rem;
  }
  p,
  input {
    margin: 2rem 1rem;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &[type="number"] {
      -moz-appearance: textfield;
    }
  }

  .plus-minus {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    .btn {
      margin: 0rem 1rem;
      cursor: pointer;
      &-disabled {
        cursor: not-allowed;
      }
    }
  }
}

td {
  border: none;
}
