* {
  font-family: "Lato", sans-serif;
}

.recommendation-table {
  thead {
    border-bottom: 0.5px solid rgb(56, 56, 56);
    tr {
      height: 50px;
      color: rgb(88, 88, 88);
    }
  }
  tbody {
    tr {
      height: 50px;
      &:hover {
        background-color: rgb(233, 233, 233);
      }

      td {
        text-align: center;
      }
    }
  }
}

.dropdown {
  display: none;
}

.ticker-search {
  width: 20rem;
  background: #F2F1F9;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
}

.ticker-search:focus + .dropdown {
  display: block;
}


